body {
background-image: url(../images/planet-background.jpg);
background-size: 100%;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
margin-top: 10px;
text-align: center;
font-size: 28px;
width: auto;
}

.card {
padding: 0px;
width: auto;
}
        
.card-header {
color: goldenrod;
background-color:rgb(62, 84, 117);
font-size: 28px;
width: auto;
}
        
.card-body {
text-align: justify;
font-size:  20px;
width: auto;
}
     
h5, h3 {
font-size: 28px;
line-height: 42px;
}

.row {
margin-top: 10px;
padding: 5px;
}
