body {
background-image: url(../images/space\ background\ image.jpg);
background-size: 100%;
}

.container {
text-align: center;
font-size: 28px;
width: auto;
}

.card {
width: auto;
}
        
.card-header {
font-size: 28px;
width: auto;
}
        
.card-body {
text-align: justify;
font-size:  20px;
width: auto;
}
            
h5 {
font-size: 28px;
}

.row {
clear: left;
}